
.stage-server-badge {
    background: linear-gradient(90deg, #ff9058, darkorange);
    color: white;
    padding-top: 21px;
    position: relative;
    top: -15px;
    left: -60px;
    width: 8%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    z-index: 1026;
    box-shadow: rgba(108, 108, 108, 0.8) 0px 2px 4px;
    transform: rotate(-45deg);
    border-bottom: 2px solid darkorange;
}

@media (max-width: 1780px) {
    .stage-server-badge {
        top: -15px;
        left: -45px;
        width: 118px;
        font-size: 12px;
        padding-top: 21px;
        padding-bottom: 6px;
    }
}
@media (max-width: 1280px) {
    .stage-server-badge {
        top: -7px;
        left: -33px;
        width: 118px;
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 6px;
    }
}
@media (max-width: 990px) {
    .stage-server-badge {
        top: -6px;
        left: -36px;
        width: 140px;
        font-size: 12px;
        padding-top: 17px;
    }
}
@media (max-width: 767px) {
    .stage-server-badge {
        top: 0px;
        left: -39px;
        width: 140px;
        font-size: 12px;
        padding-top:17px;
    }
}

@media (max-width: 670px) {
    .stage-server-badge {
        top: -8px;
        left: -34px;
        width: 140px;
        font-size: 12px;
        padding-top:17px;
    }
}
@media (max-width: 480px) {
    .stage-server-badge {
        top: -11px;
        left: -30px;
        width: 135px;
        font-size: 12px;
        padding-top: 13px;
        padding-bottom: 6px;
    }
}
